.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .grid-image {
    width: 150%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .grid-image:hover {
    transform: scale(1.05);
  }
  
  .selected-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .selected-image {
    max-width: 100%;
    max-height: 75vh;
    object-fit: contain;
  }