@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.chat-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.chat-modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom left, #c44545 40%, #f08080 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: "Lato", sans-serif;
  overflow: hidden;
  z-index: 200;
  transition: height 0.3s ease;
  width: 400px; /* Example width */
  border-radius: 8px; /* Example border radius */
}
.chat-modal.collapsed {
  height: 50px;
  overflow: hidden;
}
.toggle-button {
  display: none;
}
.chat-modal.collapsed .toggle-button {
  display: block;
}
.name {
  font-size: 0.9em;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
}
.chat-header {
  cursor: pointer;
}
.close-button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #ffe6e6;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background: #ff385c; /* Strong red for buttons */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.send-button:hover {
  transform: scale(1.05);
  background: #dd3f3f;
}

.send-button:focus {
  outline: none;
  box-shadow: 0 0 6px #ff4d4d;
}

.timestamp {
  font-size: 0.8rem;
  color: #888;
}
