@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.chat-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.chat-modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom left, #79c7c5 40%, #f9fbff 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.name {
  font-size: 0.9em;
  font-weight: 700;
  color: #777777;
  letter-spacing: 1px;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #777777;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #ffffff;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-input-container input::placeholder {
  color: #a1e2d9;
}

input:focus {
  outline: none;
}

button {
  background: #79c7c5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}
